<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/assets/bootstrap.min.css" rel="stylesheet">
		<title>Make an event!</title>
	</head>
	<body>
        <H2>Make an event!</H2>
		<form action="/event" method="post" >
			What's happening:<br/>
            <textarea name="Description" rows="12" cols="100"></textarea>
            <br/>
            When:<input type="datetime-local" name="Start"></input>
            <br/>
			<input type="submit" class="btn btn-primary" value="Lets Do this!">
		</form>
		<script src="/assets/bootstrap.bundle.min.js"></script>
	</body>
</html>
