<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Make an event!</title>
	</head>
	<body>
        <H2>Make an event!</H2>
		<form action="/event" method="post" >
			What's happening:<br/>
            <textarea name="Description" rows="12" cols="100"></textarea>
            <br/>
            When:<input type="datetime-local" name="Start"></input>
            <br/>
			<input type="submit" value="Submit">
		</form>
		
</body>
</html>