<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/assets/bootstrap.min.css" rel="stylesheet">
		<title>Holler back</title>
	</head>
	<body>
		<div>
        On {{.event.Start}}<br>
        {{ .event.Description }}
        </div>
        <br/>
        Bitch You Coming?<br/>
		<form action="/rsvp" method="post">
			Who you?:<input type="text" name="Attendee"></input>
            <br/>
            How many you bringing?<input type="text" name="Guests" value="1"></input>
			<br/>
            <input type="hidden" name="EventID" value="{{.event.ID}}">
			<input type="submit" class="btn btn-success" value="fuck yeah">
			<input type="submit" class="btn btn-danger" formaction="/reject" value="hell no">
		</form>
        <br>
        Fabulous People {{.event.Total}}:
		<br/>
		{{range .event.Rsvps}}
		<div>{{ .Attendee }}:{{.Guests}}</div>
		{{end}}
        <!--TODO some sort of total-->
		<script src="/assets/bootstrap.bundle.min.js"></script>
	</body>
</html>
