<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- WhatsApp/open graph link preview -->
    <meta property="og:title" content="Aggrovite"/>
    <meta property="og:description" content="{{.event.Description}}"/>
    <meta property="og:url" content="https://aggrovites.northbriton.net/event/{{.event.ID}}"/>
    <meta property="og:image"content="https://aggrovites.northbriton.net/assets/aggrovites.jpeg"/> 

    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <title>Holler Back</title>
    <style>
        .form-group {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap; /* Prevents wrapping */
        }
        .form-label {
            margin-right: 10px;
            white-space: nowrap; /* Prevents label from wrapping */
        }
        .form-control, .select-dropdown {
            flex-grow: 1; /* Allows input fields to fill the available space */
        }
        .btn {
            margin-right: 10px; /* Adds space between buttons */
        }
        .list-header {
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .container {
            margin-top: 20px;
            max-width: 400px; /* Sets a maximum width for the container */
            margin-left: auto; /* Centers the container */
            margin-right: auto; /* Centers the container */
        }
        .select-dropdown {
            width: 100%; /* Ensures the select dropdown fills the form group */
            display: block; /* Fixes alignment issues with Bootstrap */
            height: calc(2.25rem + 2px); /* Matches Bootstrap's height for form inputs */
            padding: .375rem 1.75rem .375rem .75rem; /* Matches Bootstrap's padding for form inputs */
            font-size: 1rem; /* Matches Bootstrap's font size for form inputs */
            line-height: 1.5; /* Matches Bootstrap's line height for form inputs */
            color: #495057; /* Default text color */
            background-color: #fff; /* White background */
            border: 1px solid #ced4da; /* Standard border */
        }
    </style>
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "nl9q05t0mc");
    </script>	
</head>
<body>
    <div class="container">
        <h3>On <script>document.write(new Date("{{.event.PrettyStart}}").toLocaleDateString('en-US', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit'}));</script></h3>
        <p>{{.event.Description}}</p>
        
        <h3>Bitch You Coming?</h3>
        <form action="/rsvp" method="post" class="form">
            <div class="form-group">
                <label class="form-label">Who you?</label>
                <input type="text" name="Attendee" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">How many you bringing?</label>
                <select name="Guests" class="select-dropdown">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <input type="hidden" name="EventID" value="{{.event.ID}}">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="fuck yeah">
                <input type="submit" class="btn btn-danger" formaction="/reject" value="hell no">
            </div>
        </form>

        <p>Write it down knuckle head <a href="{{.event.GoogleCalendarLink}}">Google</a> <a href="{{.event.OutlookCalendarLink}}">Outlook</a></p>
        
        <p class="list-header">{{.event.Total}} Fabulous People:</p>
        <ul class="list-group list-group-flush">
            {{range .event.Winners}}
                <li class="list-group-item">{{.Attendee}}:{{.Guests}}</li>
            {{end}}
        </ul>

        <p class="list-header">Losers:</p>
        <ul class="list-group list-group-flush">
            {{range .event.Losers}}
                <li class="list-group-item">{{.Attendee}}</li>
            {{end}}
        </ul>
    </div>
    <script src="/assets/bootstrap.bundle.min.js"></script>
</body>
</html>
